*.vs
/GridUnityProject/Library
/GridUnityProject/Logs
/GridUnityProject/obj
/GridUnityProject/Temp
*.csproj
*.sln
*.vsconfig

/WaveFunctionTest/Library
/WaveFunctionTest/Logs
/WaveFunctionTest/obj
/WaveFunctionTest/Temp

/FlatCityMaker/Library
/FlatCityMaker/Logs
/FlatCityMaker/obj
/FlatCityMaker/Temp